* {
    margin: 0;
    padding: 0;
    }

body {
    font-family: Late;
    }

.center {
    width: 100%;
    max-width: 1172px;
    margin: 0px auto;
    }

/* ================= Header MENU ================== */

.page-top {
height: 75px;
max-width: 100vw;
background-color: #222222;
}

.page-top-menu {
display: flex;
justify-content: space-around;
align-items: center;
gap: 41px;
}

.menu-main {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 41px;
max-width: 111px;
max-height: 38px;
padding-top: 18px;
}

.menu {
display: flex;
justify-content: flex-end;
align-items: center;
gap: 33px;
max-width: 159px;
max-height: 29px;
padding-top: 26px;
}

.menu-item {
list-style: none;
}

.menu-item-link {
text-decoration: none;
}
/* ================= END Header MENU ================== */

/* ================= Header ================== */

.page-top-content {
height: 764px;
max-width: 100vw;
background-color: #F1E4E6;
display: flex;
justify-content: center;
align-items: center;
gap: 64px;
}

.top-border-txt {
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
}

.Border {
width: 12px; 
height: 92px; 
background-color: #F16D7F;
}

.top-content-txt {
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Big {
font-weight: 900;
font-size: 48px;
line-height: 58px;
color: #222222;
}

.Normal {
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #222222;
}

.Normal em {
color: #F16D7F;
font-style: normal;
}